// BASE COLOURS
$color-1: #fff;
$color-2: #f4f0eb; // um-intro, .um-skillback, icon-square
$color-3: #8a8987; // tools stripe, timeline underline, inputs, textarea
$color-4: #3f3e41; // skillset
$color-5: #2b2b2b; // body text color, workdetails bg

// THEME COLOURS
$color-6: #88cbf6; // body bg, logo
$color-7: #7de0fd; // skillbars, link-hover, scrollbar, contact stripe
$color-8: #a49bea; // skillbars
