
$gradient-one: linear-gradient(to right bottom, #97b5f1 28%, #7de0fd 100%); // about profile
$gradient-two: linear-gradient(to bottom, #a49bea 37%, #7de0fd 100%); // tools
$gradient-three: linear-gradient(to bottom, #ADECFF 49%, #959491 100%); // interests
