
$gradient-one: linear-gradient(to right bottom, #AD94F7 28%, #7B94E5 100%); // about profile
$gradient-two: linear-gradient(to bottom, #AD94F7 37%, #5672d6 100%); // tools
$gradient-three: linear-gradient(to bottom, #c6aef9 49%, #5c5789 100%); // interests
