@charset "UTF-8";

@font-face {
  font-family: "ivan";
  src:url("fonts/ivan.eot");
  src:url("fonts/ivan.eot?#iefix") format("embedded-opentype"),
    url("fonts/ivan.woff") format("woff"),
    url("fonts/ivan.ttf") format("truetype"),
    url("fonts/ivan.svg#ivan") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ivan" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ivan" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codepen:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\65";
}
.icon-telegram:before {
  content: "\74";
}
.icon-weibo:before {
  content: "\4c";
}
.icon-vk:before {
  content: "\71";
}
.icon-ask:before {
  content: "\75";
}
.icon-soundcloud:before {
  content: "\6c";
}
.icon-twitter:before {
  content: "\63";
}
.icon-deviantart:before {
  content: "\6b";
}
.icon-dribbble:before {
  content: "\70";
}
.icon-facebook:before {
  content: "\64";
}
.icon-flickr:before {
  content: "\6d";
}
.icon-livejournal:before {
  content: "\79";
}
.icon-pinterest:before {
  content: "\6e";
}
.icon-reddit:before {
  content: "\72";
}
.icon-youtube:before {
  content: "\69";
}
.icon-square:before {
  content: "\78";
}
.icon-messenger:before {
  content: "\77";
}
.icon-instagram:before {
  content: "\67";
}
.icon-gplus:before {
  content: "\68";
}
.icon-back:before {
  content: "\7a";
}
.icon-left:before {
  content: "\47";
}
.icon-right:before {
  content: "\48";
}
.icon-close:before {
  content: "\4a";
}
.icon-magnify:before {
  content: "\45";
}
.icon-github:before {
  content: "\41";
}
.icon-vimeo:before {
  content: "\43";
}
.icon-tumblr:before {
  content: "\6a";
}
.icon-steam:before {
  content: "\42";
}
.icon-whatsapp:before {
  content: "\44";
}
.icon-skype:before {
  content: "\46";
}
.icon-xing:before {
  content: "\4f";
}
.icon-quora:before {
  content: "\66";
}
.icon-basecamp:before {
  content: "\50";
}
.icon-behance:before {
  content: "\62";
}
.icon-email:before {
  content: "\6f";
}
.icon-download:before {
  content: "\73";
}
