
$gradient-one: linear-gradient(to right bottom, #03fe9f 28%, #00fff1 100%); // about profile
$gradient-two: linear-gradient(to bottom, #5bcc48 37%, #03fe9f 100%); // tools
$gradient-three: linear-gradient(to bottom, #5bcc48 49%, #00fff1 100%); // interests
